.bold {
    font-weight:bold
}

.nav-bar {
    background-color: blue;
    padding: 20px;
    text-align: center;
}


.footer {
    background-color: red;
    padding: 20px;
    text-align: center;
}

.content {
    background-color: pink;
    padding: 20px;
    margin: 10px;
    height: 600px;

}
